[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/bin/etcd --name ${etcd_name}.${environment} \
  --discovery-srv=${dns_etcd_srv_name}.${environment} \
  --initial-advertise-peer-urls https://${etcd_name}.${environment}:2380 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster-state new \
  --advertise-client-urls https://${etcd_name}.${environment}:2379 \
  --listen-client-urls https://${etcd_name}.${environment}:2379,http://127.0.0.1:2379 \
  --listen-peer-urls https://${etcd_name}.${environment}:2380 \
  --data-dir=/var/lib/etcd/data \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target